.container{
    display: flex;
    justify-content: center;
}

.text-box{
    width: 50%;
    font-size: medium;
    text-align: justify;
}

.text-info{
    position: absolute;
    top: 90px;
    left: 30px;
    width: 15%;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}